body {
  background-image: url(assets/background.jpg);
  background-repeat: no-repeat;
  background-origin: fixed;
  background-size: cover;
  text-align: center;
}
h1 {
  color: #00004d;
  font-size: 50px;
}

.input{
  width: 40%;
  height: 60px;
  border: 2px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 24px;
  color: #00004d;
  text-align: center;
}
.icon {
  width: 12%;
}
.footer {
  padding: 5%;
  font-size: 30px;
  font-weight: bold;
  font-family: fantasy;
  margin-bottom: 50px;
}

#temp {
  font-size: 30px;
}

@media only screen and (min-width: 601px) {
  #search {
    font-size: 48px;
  }
}

@media only screen and (min-width: 1001px) {
}
